*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff;
}

main {
  width: 250px;
  height: 250px;
  background-color: #fcfcf7;
}
