*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff;
  height: 100vh;
}

main {
  width: 400px;
  height: 400px;
  background-color: #fcfcf7;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #c9d0d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-area img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}
