*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #15153c;
  --faid-text-color: #3a385c;
  --font-family: "Lato", sans-serif;
}

body {
  background-color: #fcfcf7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(80%);
  color: var(--primary-text-color);
  font-family: var(--font-family);
}

.background-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.background-elements .top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 45%;
  padding: 0px 50px 0px 150px;
  filter: blur(70px);
}

.background-elements .bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 45%;
  padding: 0px 100px 0px 50px;
  filter: blur(70px);
}

.background-elements .pink-ball {
  height: 90%;
  aspect-ratio: 1;
  background-color: #d58a94;
  border-radius: 50%;
}

.background-elements .blue-ball {
  height: 90%;
  aspect-ratio: 1;
  background-color: #89cff0;
  border-radius: 50%;
}
.background-elements .yellow-ball {
  height: 90%;
  aspect-ratio: 1;
  background-color: #eea449;
  border-radius: 50%;
}
.background-elements .blank {
  height: 90%;
  aspect-ratio: 1;
  border-radius: 50%;
}

main {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 55%;
  background-color: rgb(245, 248, 255, 0.9);
  box-shadow: 0px 0px 15px rgb(191, 191, 191);
  z-index: 2;
  border: 20px solid white;
  border-radius: 10px;
  padding: 30px 30px;
  gap: 40px;
}

main .monthly-plan {
  width: 30%;
  height: 100%;
}

h1 {
  font-size: 30px;
}

h2 {
  font:
    700 3.5rem "Lato",
    sans-serif;
  margin: 0;
  padding: 20px 0px 0px 0px;
}

.dollar-sign {
  font-size: 2.3rem;
  font-weight: 600;
}

main .plan-description {
  color: var(--faid-text-color);
  font-size: small;
}

main .best-suited-for {
  padding: 40px 0px;
  font:
    normal 1.2rem "Lato",
    sans-serif;
}

main .action-btn {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}

main .action-btn:hover {
  cursor: pointer;
}

main .action-btn.free {
  background-color: #d58a94;
}

main .action-btn.free:hover {
  background-color: #d27884;
}

main .action-btn.free:active {
  background-color: #ce6b78;
}

main .action-btn.standard {
  background-color: #89cff0;
}

main .action-btn.standard:hover {
  background-color: #75c8ee;
}

main .action-btn.standard:active {
  background-color: #64b3d7;
}

main .action-btn.premium {
  background-color: #eea449;
}

main .action-btn.premium:hover {
  background-color: #ea9d3f;
}

main .action-btn.premium:active {
  background-color: #dd9033;
}
