*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfcf7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(80%);
}

.background-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.background-elements .top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 45%;
  padding: 0px 50px 0px 150px;
  filter: blur(70px);
}

.background-elements .bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 45%;
  padding: 0px 100px 0px 50px;
  filter: blur(70px);
}

.background-elements .pink-ball {
  height: 90%;
  aspect-ratio: 1;
  background-color: #d58a94;
  border-radius: 50%;
}

.background-elements .blue-ball {
  height: 90%;
  aspect-ratio: 1;
  background-color: #89cff0;
  border-radius: 50%;
}
.background-elements .yellow-ball {
  height: 90%;
  aspect-ratio: 1;
  background-color: #fffd74;
  border-radius: 50%;
}
.background-elements .blank {
  height: 90%;
  aspect-ratio: 1;
  border-radius: 50%;
}

main {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 60%;
  background-color: rgb(245, 248, 255, 0.8);
  box-shadow: 0px 0px 15px rgb(191, 191, 191);
  z-index: 2;
  border: 10px solid white;
  border-radius: 10px;
  padding: 30px 30px;
  gap: 40px;
}

main .monthly-plan {
  border: 2px solid black;
  width: 30%;
  height: 100%;
}
